.DS_Store
defender/defender/models/NFS_21_ALL_hash_50000_WITH_MLSEC20.pkl
/Users/kyleefriederichs/Desktop/School/CSCE_698_CyberDefense/classifier/2021-Machine-Learning-Security-Evasion-Competition/defender/defender/models/NFS_21_ALL_hash_50000_WITH_MLSEC20.pkl 4.29.54 AM